<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (locals.styles) { %>
     <% styles.forEach(style => { %>
        <link rel="stylesheet" href="styles/<%= style %>">
     <% }) %>
    <% } %>
    <link rel="stylesheet" href="/styles/global.css">
    <title><%= locals.title %> </title>
</head>
<body>
    <%- include('./navigation.ejs') %>