h1 {
    text-align: center;
}

.critiques {
    display: block;
    margin: 3rem auto;
    width: 50%;
}

.critiques li {
    border: 2px solid gold;
    border-radius: 5px;
    padding: 1rem;
    color: black;
    margin-top: 1rem;
}

li .info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    color: whitesmoke;
}

.info div {
    display: flex;
    flex-direction: column;
}

li .avis {
    font-size: 20px;
    background-color: rgb(12, 6, 29);
    color: white;
}


form {
    width: 400px;
    margin:  1rem auto;
}
form select {
    width: 60%;
    padding: 8px;
}
form button {
    padding: 8px;
}